# BlockDAG network
BDAG_TESTNET_RPC_URL=https://rpc.awakening.bdagscan.com
BDAG_TESTNET_PRIVATE_KEY=your_throwaway_testnet_key_here
BDAG_MAINNET_RPC_URL=https://rpc.welshdag.trade
BDAG_MAINNET_PRIVATE_KEY=
